<!-- -------------------------------------------------------------------------------------------- --
    aside main-sidebar
------------------------------------------------------------------------------------------------ -->

<aside class="main-sidebar">
    <section class="sidebar">


        <!-- -------------------------------------------------------------------------------------------- --
            AsideUserPanel
        ---- ------------------------------------------------------------------------------------------- -->
        @Html.Partial("~/Views/Shared/_partial/_AsideUserPanel.cshtml")


        <!-- -------------------------------------------------------------------------------------------- --
            AsideFormSearch
        ---- ------------------------------------------------------------------------------------------- -->
        @Html.Partial("~/Views/Shared/_partial/_AsideFormSearch.cshtml")


        <!-- -------------------------------------------------------------------------------------------- --
            AsideSidebarMenuMain
        ---- ------------------------------------------------------------------------------------------- -->
        @Html.Partial("~/Views/Shared/_partial/_AsideSidebarMenuMain.cshtml")


    </section>
</aside>
