<!-- -------------------------------------------------------------------------------------------- --
    AsideSidebarMenuMainItens_03
---- ------------------------------------------------------------------------------------------- -->
@using GrmWebAppAdmSiSv01.Extensions.Identity

<li id="left-sidebar-menu-charts" class="treeview">
    <a href="#">
        <i class="fa fa-pie-chart"></i>
        <span>Charts</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li id="left-sidebar-menu-charts-chartjs"><a href="@Url.Action("ChartJs", "Charts")"><i class="fa fa-circle-o"></i> ChartJS</a></li>
        <li id="left-sidebar-menu-charts-morris"><a href="@Url.Action("Morris", "Charts")"><i class="fa fa-circle-o"></i> Morris</a></li>
        <li id="left-sidebar-menu-charts-flot"><a href="@Url.Action("Flot", "Charts")"><i class="fa fa-circle-o"></i> Flot</a></li>
        <li id="left-sidebar-menu-charts-inline"><a href="@Url.Action("Inline", "Charts")"><i class="fa fa-circle-o"></i> Inline charts</a></li>
    </ul>
</li>

