<!-- -------------------------------------------------------------------------------------------- --
    navbar-menu itens: messages,
---- ------------------------------------------------------------------------------------------- -->

<ul class="nav navbar-nav">
    <!-- -------------------------------------------------------------------------------------------- --
        messages
    ---- ------------------------------------------------------------------------------------------- -->
    @Html.Partial("~/Views/Shared/_partial/_NavbarMenuMessages.cshtml")


    <!-- -------------------------------------------------------------------------------------------- --
        notifications
    ---- ------------------------------------------------------------------------------------------- -->
    @Html.Partial("~/Views/Shared/_partial/_NavBarMenuNotifications.cshtml")


    <!-- -------------------------------------------------------------------------------------------- --
        tasks
    ---- ------------------------------------------------------------------------------------------- -->
    @Html.Partial("~/Views/Shared/_partial/_NavBarMenuTasks.cshtml")


    <!-- -------------------------------------------------------------------------------------------- --
        _LoginPartial.cshtm
    ---- ------------------------------------------------------------------------------------------- -->
    @Html.Partial("~/Views/Shared/_partial/_LoginPartial.cshtml")


    <!-- -------------------------------------------------------------------------------------------- --
        control-sidebar
    ---- ------------------------------------------------------------------------------------------- -->
    <li>
        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
    </li>

</ul>


